apiVersion: v1
kind: Service
metadata:
  name: notification-service
  labels:
    app: notification-service
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3005
      protocol: TCP
      name: http
  selector:
    app: notification-service
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service-headless
  labels:
    app: notification-service
spec:
  clusterIP: None
  ports:
    - port: 3005
      targetPort: 3005
      protocol: TCP
      name: http
  selector:
    app: notification-service
